{
    "presets": [
        [
            "@babel/env",
            {
                "modules": false
            }
        ]
    ],
    "plugins": [
      [
          "@babel/transform-runtime", {
              "helpers": true,
              "polyfill": true,
              "regenerator": true,
              "moduleName": "@babel/runtime",
              "useBuiltIns": false,
              "useESModules": false
          }
      ],
      "@babel/plugin-proposal-class-properties",
      "@babel/plugin-transform-destructuring",
      "@babel/plugin-syntax-object-rest-spread",
      "@babel/plugin-proposal-object-rest-spread"
    ],
    "comments": false
}
