{
    "presets": [
        [
            "@babel/env",
            {
                "modules": false
            }
        ],
        "@babel/react"
    ],
    "plugins": [
        "react-hot-loader/babel",//top level variables are registered
        [
            "@babel/plugin-transform-runtime", {
                "helpers": true,
                "polyfill": true,
                "regenerator": true,
                "moduleName": "@babel/runtime",
                "useBuiltIns": false,
                "useESModules": false
            }
        ],
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        "@babel/plugin-transform-destructuring",
        "@babel/plugin-proposal-object-rest-spread",
        ["@babel/plugin-proposal-class-properties", { "loose": true }],
        "add-module-exports"
    ],
    "comments": false
}
